<div class="row-fluid">
    <div class="col-xs-12">
        <img src="https://cdn-image.myrecipes.com/sites/default/files/styles/4_3_horizontal_-_1200x900/public/mrtrending0475.jpg?itok=ULkGk3Pn"
            alt="" class="img-fluid">
    </div>
</div>
<div class="row-fluid">
    <div class="col-xs-12">
        <h1>Recipe Name</h1>
    </div>
</div>
<div class="row-fluid">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Manage Recipe</button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Add to Shopping list</a>
                <a class="dropdown-item" href="#">Edit Recipe</a>
                <a class="dropdown-item" href="#">Delete Recipe</a>
            </div>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="col-xs-12">
        Description
    </div>
</div>
<div class="row-fluid">
    <div class="col-xs-12">
        Ingredients
    </div>
</div>