<div class="card container-fluid" >
    <div class="card-body">
        <h5 class="card-title">Odd or Even</h5>
        <p class="card-text">A little application that generates an odd or even number every second.<br>
            Click Start to start the application.<br>
            Click Stop to end the application.</p>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <button type="button" class="btn btn-success mr-5" (click)="clickStart()">Start</button>
            <button type="button" class="btn btn-danger" (click)="clickStop()">Stop</button>
        </div>
    </div>
</div>