<div class="row">
    <div class="col-md-12">
        <form action="">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" placeholder="Sugar" aria-describedby="helpId">
                </div>
                <div class="col-md-1 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" placeholder="-1" aria-describedby="helpId">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-success mr-1">Add</button>
                        <button type="button" class="btn btn-danger mr-1">Delete</button>
                        <button type="button" class="btn btn-primary mr-1">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>